h2 {
    margin: 60px;
    
}

h3 {
    margin-left: 30px;
}

h1 {
    margin: 0;
    padding: 16px;
    margin: -12px -12px 20px -12px;
}

form {
    width:30%;
    border: 1px solid Gray;
    border-radius: 5px;
    margin: 20px;
    background-color: #EEEEEE;
    padding: 16px;
    float: left;
}

#tableD {
    margin: 20px
}

.controls label {
    display: block;
    float: left;
    clear: both;
    width: 35%;
}



.controls input {
    font-size: 11pt;
    display: block;
    float: right;
    width: 60%;
}

#tableD
{
    width: 60%;
    float: right;
}